* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #E8392A;
  --dark-gray: #111111;
  --mid-gray: #1a1a1a;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}